/*font-family: droid-sans, sans-serif;
font-family: droid-serif, serif;*/
/*============GLOBAL STYLING BY ELEMENT TYPE================*/

.btn {
  -moz-box-shadow:inset 0px 0px 11px -2px #ffffff;
  -webkit-box-shadow:inset 0px 0px 11px -2px #ffffff;
  box-shadow:inset 0px 0px 11px -2px #ffffff;
  background-color:transparent;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#575757;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 2px #ffffff;
}

.btn:active {
  position:relative;
  top:1px;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  font-family: droid-sans, sans-serif;
  color: #575757;
}



a {
  font-family: droid-serif, serif
  color: #575757;
}

a:visited {
  text-decoration: none;
  color: #575757;
}

textarea {
 background-color: #F7F5E9;
 width: 600px;
 height: 200px;
 font: normal 14px verdana;
 line-height: 25px;
 padding: 2px 10px;
 border: solid 1px #ddd;
 resize: none;
 outline: none;
 margin-bottom: 10px;
 margin-top: 10px;
}

.answer-textarea {
  width: 400px;
  height: 80px;
  margin-left: 50px;
}

.tb {
  width: 221px;
  background-color: #F7F5E9;
  color : #747862;
  height:20px;
  border:1px solid #ddd;
  padding:4px 8px;
  margin-bottom:0px;
}




/*======================HEADER===========================*/
header {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

header img {
  float: left;
  margin-right: 10px;
  height: 50px;
}
header ul {
  float: right;
  margin-right: 40px;
}
header li {
  display: inline;
  padding-left: 5px;
}

header a {
  text-decoration: none;
  font-family: droid-serif;
  color: #575757;
  margin-right: 10px;
}

header a:hover {
  text-decoration: underline;
}

.banner {
  font-family: poiret-one, sans-serif;
  float: left;
  margin-top: 10px;
  
}

/*=======================INDEX============================*/


.welcome {
  font-family: droid-sans, sans-serif;
  text-align: center;
  margin-right: 160px;
  margin-bottom: 160px;
  color: #575757;
}


img {
  float: left;
  clear: left;
  margin-left: 50px;
  margin-right: 100px;

}

.index-create {
  margin-top: 300px;
  -moz-box-shadow:inset 0px 1px 10px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 10px 0px #ffffff;
  box-shadow:inset 0px 1px 10px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#575757;
  font-family:arial;
  font-size:43px;
  font-weight:bold;
  padding:10px 44px;
  text-decoration:none;
  text-shadow:2px 2px 7px #ffffff;
}
.index-create:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}
.index-create:active {
  position:relative;
  top:1px;
}


/*================LOGIN / REGISTER FORMS======================*/
.login {
  float: left;
  width: 300px;
}

.register {
  float: left;
}

.form_container {
  font-family: droid-serif, serif;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 150px;
  margin-top: 200px;
}

.form_container label {
  color: #FFF;
}

.form_container input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.login .btn {
  margin-top: 10px;
}

.register .btn {
  margin-top: 10px;
}

/*========================= PROFILE ================================*/

.surveys-container {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

.sent-surveys {
  float:left;
  margin-left: 100px;

}

.all-surveys {
  float:left;
}

.all-surveys li {
  margin-top: 10px;
  font-family: droid-sans, sans-serif;
  color: #575757;
  border: 0px solid gray;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  -moz-box-shadow:    0px 3px 3px 1px #ccc;
  -webkit-box-shadow: 0px 3px 3px 1px #ccc;
  box-shadow:         0px 3px 3px 1px #ccc;
}

.sent-surveys li {
  margin-top: 10px;
  font-family: droid-sans, sans-serif;
  color: #575757;
  border: 0px solid gray;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  -moz-box-shadow:    0px 3px 3px 1px #ccc;
  -webkit-box-shadow: 0px 3px 3px 1px #ccc;
  box-shadow:         0px 3px 3px 1px #ccc;
}

.survey-list {
  font-size: 1.2em;
}

.list-title {
  margin-left: 50px;
}

.answer-text {
  width: 600px;
  margin-left: 50px;
}
.profile-create {
  margin-top: 70px;
  margin-left: -200px;
  margin-right: 60px;
  float: left;
  -moz-box-shadow:inset 0px 1px 10px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 10px 0px #ffffff;
  box-shadow:inset 0px 1px 10px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#575757;
  font-family:arial;
  font-size:22px;
  font-weight:bold;
  padding:5px 22px;
  text-decoration:none;
  text-shadow:2px 2px 7px #ffffff;
}

/*=======================EDIT SURVEY ======================*/

.edit-survey-form {
  margin-right: auto;
  margin-left: auto;
  width: 700px;
}

.add-question-button {
  margin-top: 10px;
}

.edit-question-buttons {
  position: relative;
}

.edit-question-container {
  font-family: droid-sans, sans-serif;
  color: #575757;
  border: 0px solid gray;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  -moz-box-shadow:    1px 3px 5px 2px #ccc;
  -webkit-box-shadow: 1px 3px 5px 2px #ccc;
  box-shadow:         1px 3px 5px 2px #ccc;
  text-decoration: none;
  margin-right: 100px;
  margin-top: 20px; 
}

.delete-question-btn {
  position: absolute;
/*  bottom: px;*/
  left: 247px;
}

.add-question {
  float: left;
  margin-top: 10px;
  margin-right: 5px;

}


.survey-tabs {
  float: left;
  margin-top: 10px;
  
}

.question-container {
  margin-top: 90px;
 
}

/*========================EDIT PROFILE=================================*/
.user-profile-container {
  margin-left: auto;
  margin-right: auto;
  width:700px;
}

.edit-user-forms {
  margin-top: 50px;
}

/*=======================RESULTS====================================*/

.results-container {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

.question ol{
  padding: 20px;
}

/*=================EDIT QUESTION=============================*/


.edit-question-page {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

.edit-question-page h4 {
  margin-bottom: 0px;
}

.formbtn {
  margin-top: 0px;
}

.edit-question-form {
  margin-bottom: 30px;
 
}

.save-question-btn {
  margin-left: 50px;
  margin-top: -10px;
}

.new-response-form {
   display: inline-block;
  float: left;
  margin-left: 160px;
  margin-top: -47px;
}

.delete-response-form {
  display: inline-block;
  float: left;
  margin-left: 142px;
  margin-top: -47px;
}

.response-buttons {
  margin-top: 4px;
}

/*=====================SEND SURVEY=======================*/

.send-email-container, .send-link-container, .send-twitter-container{
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

.tweet {
  width: 380px;
  height: 50px;
}

.twit {
  margin-top: 20px;
  margin-left: 8px;
}


/*======================GLOBAL BY STYLE=====================*/
.container-shadow {
  font-family: droid-sans, sans-serif;
  color: #575757;
  border: 0px solid gray;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  -moz-box-shadow:    1px 3px 5px 2px #ccc;
  -webkit-box-shadow: 1px 3px 5px 2px #ccc;
  box-shadow:         1px 3px 5px 2px #ccc;
  text-decoration: none;
  margin-right: 100px;
  margin-top: 20px; 
}





