<header>
  <a href="/"><h1 class="banner" id="banner"><img src="/images/donkey.jpg">Survey Donkey</h1></a>
  <% if current_user? %>
    <nav>
      <ul>
        <li><a href="/users/edit">Account Info</a></li>
        <li><a href="/profile">My Surveys</a></li>
        <li><a href="/surveys/new">Create a Survey</a></li>
        <li><a id="logout" href="/users/logout">Logout</a></li>
      </ul>
    </nav>
  <% end %>
</header>

