<section class="login-form">  
  <h3>Login</h3>
  <form class='login-form' action='users/login' method='post'>
    <label for='login-email'>
      Email:<br/>
      <input id='login-email' type='email' name='email' placeholder='email'>
    </label>
    <br/>

    <label for='login-password'>
      Password:<br/>
      <input id='login-password' type='password' name='password' placeholder='password'>
    </label>

    <button class="btn" type='submit' value='login'>Login</button>
  </form>
</section>
