<section class="login-form">  
  <h3>Login</h3>
  <form class='login-form' action='/login' method='post'>
    <label for='login-email'>
      Email:<br/>
      <input id='login-email' type='email' name='email'>
    </label>
    <br/>

    <label for='login-password'>
      Password:<br/>
      <input id='login-password' type='password' name='password'>
    </label>

    <button type='submit' value='login'>Login</button>
  </form>
</section>
