<section id="register-user" class="content-wrapper">
  <h3>Create A New Account</h3>
  <div class="register-form"> 

    <form class='register-form' action='users/register' method='post'>
      
      <label for='register-email'>
        Email:<br/>
        <input id='register-email' type='email' name='email' placeholder='email'>
      </label>
      <br/>
     
      <label for='register-password'>
        Password:<br/>
        <input id='register-password' type='password' name='password' placeholder='password'>
      </label>
      <br/>
      <label for='register-password-confirmation'>
        Password Confirmation:<br/>
        <input id='register-password-confirmation' type='password' name='password_confirmation' placeholder='confirm password'>
      </label>
      <br/>

      <button class="btn" type='submit' value='register'>Count Me In!</button>
    </form>
  </div>
</section>
