<nav class="survey-tabs" id="survey-tabs">

  <span>
  
    <!-- <a class="btn survey-nav-buttons" href="/surveys/<%=@survey.id%>/edit">Edit</a> -->
    <a class="btn survey-nav-buttons" href="/surveys/<%=@survey.id%>/send">Send</a>
    <a class="btn survey-nav-buttons" href="/surveys/<%=@survey.id%>/results">Results</a>
  
  </span>

</nav>
