<nav class="survey-tabs" id="survey-tabs">
  <ul>
    <li><a class ="btn" href="/surveys/<%=@survey.id%>/edit">Edit</a></li>
    <li><a class ="btn" href="/surveys/<%=@survey.id%>/send">Send</a></li>
    <li><a class ="btn" href="/surveys/<%=@survey.id%>/results">Results</a></li>
  </ul>
</nav>
