<div class="user-profile-container">
<h1>User Profile</h1>
<h3>Current User: <%= @user.email %></h3>
  <div class="edit-user-forms">
      <div class=""
    <p><form action="/users/edit/email" method="POST">
      <input class="tb" type="text" name="new_email" value="<%= @user.try(:email)%>">
      <input class="tb" type="password" name="current_password" placeholder="enter your current password ...">
      <input class="btn" type="submit" value="Update Email">
    </form></p>

    <p><form action="/users/edit/password" method="POST">
      <input class="tb" type="password" name="current_password" placeholder="enter your current password ...">
      <br/>
      <input class="tb" type="password" name="new_password" placeholder="enter your new password ...">
      <input class="tb" type="password" name="new_password_confirmation" placeholder="confirm your new password...">
      <input class="btn" type="submit" value="Update Password">
    </form></p>
  </div>
</div>
