<div class="send-link-container">
<%= erb :'/partials/_send_partial' %>  
<h2> Send your survey to your friends!</h2>
<a class="btn" href="/surveys/<%= @survey.id %>/send/email">Send via Email</a>


<p>http://localhost:9393/url/<%= @survey.url %></p> 
</div>
