<a class="btn" href="/send/<%= @survey.id %>/tweet">Send with Twitter</a>
<a class="btn" href="/send/<%= @survey.id %>/link">Send a URL!</a>
<a class="btn" href="/send/<%= @survey.id %>/email">Send an Email</a>

