
<a href="/questions/:id/new">Add a question.</a>

<form id="Add_question" method="post" action="/questions/:id/new"><input class="survey_edit_buttons" type="submit" value="Add a question!"></form> 

<form id="send_survey" method="post" action="/surveys/:id/send"><input class="survey_edit_buttons" type="submit" value="Send a survey!"></form> 

<form id="results_display" method="post" action="/surveys/:id/results"><input class="survey_edit_buttons" type="submit" value="Display results!"></form>  
<!-- 
<form id="preview_survey" method="post" action="/surveys/:id/preview"><input class="survey_edit_buttons" type="submit" value="Display preview!"></form>
 -->
