<div class="container">
  <h2>Survey Results</h2>
  <ul>
    <% @questions.each do |question|  %>
    <li> Question: <%= question.text %> <br/>
        <ol> <% question.answers.each do |answer| %>
            <li><%= answer.text %> - 
                <data> <%= answer.responses.count %></data>
              </li>
          <% end %>
        </ol>
    </li>
    <% end %>
  </ul>
</div>
