<h1 id="welcome-header">Welcome to Survey Donkey!</h1>
<img src="images/donkey.jpg">
<% if session[:id] %>
  <a href="/logout">Logout</a>
<% else %>
  <%= erb :'/partials/_login' %>
  <%= erb :'/partials/_register' %>
<% end %>
