<h1 id="welcome">Welcome to Survey Donkey!</h1>
<img src="images/donkey.jpg">
<% if session[:id] %>

<% else %>
  <div class="form_container">
    <div class="login">
      <%= erb :'/partials/_login' %>
    </div>
    <div class='register'>
      <%= erb :'/partials/_register' %>
    </div>
</div>
<% end %>
