<div class="index-page-container">
  <img src="images/donkey_face.png">
  <% if session[:id] %>
    <a href="/surveys/new"><h1 class="index-create btn">Create A Survey!</h1></a>
  <% else %>
    <div class="form_container">
      <h1 class="welcome">Create kick ass surveys!</h1>
      <div class="login">
        <%= erb :'/partials/_login' %>
      </div>
      <div class='register'>
        <%= erb :'/partials/_register' %>
      </div>
  </div>
  <% end %>
</end>
